node_modules
package-lock.json

cache

*.log

/branches/mod/betterdiscord/betterdiscord.asar
/branches/mod/kernel/kernel.asar
/branches/mod/vencord/vencord-desktop
/branches/mod/equicord/equicord-desktop

*.crt
*.key

config.json

.idea